@import "../../sass/abstract/constants";
@import "../../sass/abstract/placeholders";
@import "../../sass/abstract/mixins";

.news-item {
  margin: 12px 0;
  padding: 12px 16px;
  border: 1px solid $color-news-item-border;
  border-radius: 16px;
  cursor: pointer;
}

.item-text__info {
  margin-top: 10px;
  margin-bottom: 15px;
}

.item-info {
  display: flex;
  @extend %font-primary;
  @include font(1.3rem, 1.6rem, 400);
  color: $color-news-text;
}

.item-info__pos {
  margin-right: 10px;
}
