$color-light: #fff;
$color-primary: #c1c1c1;
$color-text: #000000;
$color-story-border: #ccc;
$color-border-active: rgba(252, 113, 98, 255);
$color-scrollbar-track: #ebebeb;
$color-scrollbar-thumb: #232424;
