@import "./sass/abstract/constants";

.App {
  width: 45vw;
  margin: 0 auto 30px;
  padding: 0 20px 25px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-light;
  border-radius: 10px;
}
