@import "../../sass/abstract/constants";
@import "../../sass/abstract/placeholders";
@import "../../sass/abstract/mixins";

.news-items-wrapper {
  padding-top: 12px;
}

.home-title {
  text-align: center;
}

.tools {
  margin: 10px 0;
  padding-right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending-text {
  @extend %font-secondary;
  @include font(2rem, 2.3rem, 700);
}

.current-date {
  @extend %font-primary;
  @include font(1.3rem, 1.6rem, 400);
  color: $color-primary;
}

.sub-text__date {
  margin-top: 5px;
}

.refresh-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url("../../svg/icon_refresh.svg");
  &:hover {
    animation-name: rotate;
    animation-duration: 1s;
    cursor: pointer;
  }
}

.loading-news-title {
  @extend %font-primary;
  @include font(1.8rem, 2rem, 400);
  color: $color-primary;
  text-align: center;
}

@keyframes rotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
